<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item active">
      Categorias
  </ol>
</nav>

<div class="row">
  <div class="col">
    <h1 class="h2 border-left pl-2">
      Categorias
    </h1>
  </div>
  <div class="col">
    <a class="btn btn-success nav-light float-right" routerLink="new">+ Nova Categoria</a>
  </div>
</div>

<table class="table table-hover table-striped">
  <thead>
    <tr >
      <th>Categoria</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <td>
          <strong>{{ category.name }}</strong><br>
          <small>{{ category.description }}</small>
      </td>
      <td>
        <a class="btn btn-primary mr-2" [routerLink]="[ 'edit', category.id ]">Editar</a>
        <a (click)="deleteCategory(category)" class="btn btn-danger">Deletar</a>
      </td>
    </tr>
  </tbody>
</table>