<app-navigation-pane>
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" href="#" routerLink="relatories">Relatórios</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" href="#" routerLink="entries">Lançamentos</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" href="#" routerLink="categories"> Categorias</a>
    </li>
  </ul>
</app-navigation-pane>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
