@animation-time-small : 0.7s;

.hamburguer {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    border-radius: 30px;
    border: 5px solid rgba(0, 0, 255, 0.7);
    transition: all @animation-time-small;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transition: 0.2s;
        transform: scale(1)
    }
}

.navbar {
    user-select: none;
    position: absolute;
    width: 50%;
    height: 100vh;
    background: white;
    z-index: 500;
    display: none;
    overflow: hidden;

    .closebtn {
        :hover {
            cursor: pointer;
            transform: scale(1.2);
        }
    }

    &.--collapsed {
        display: block;
        overflow: visible;
        animation: collapseIn @animation-time-small;
        animation-fill-mode: forwards;
    }

    &.--collapsed-out {
        display: block;
        overflow: visible;
        animation: collapseOut @animation-time-small;
        animation-fill-mode: forwards;
    }

    .content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-size: 43px;
        font-weight: bolder;
        text-transform: uppercase;


        > a {
            font-weight: bolder;
            transition: all @animation-time-small;
            color: purple;
        }
    }

}

@keyframes collapseIn {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

@keyframes collapseOut {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}
